body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: rgb(2,0,36);
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Death_Valley_Gerea_canescens.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;

}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}



#ffffff{
  width: 20%;

}


#headline {

  -webkit-text-stroke: 2.5px rgb(216, 198, 166);
  font-size: 2.3em;


}

/* everything over 768px */

@media only screen and (min-width: 768px) {
  /* For desktop: */

  #county-text{
    padding-top: 20px;
    margin-left: 20px;
    width: 50%;
    text-align: center;
    align-items: center;
    padding: 10px;

   background-color: #ebc58e;
   border-radius: 25px;
   font-weight: 500;
   border:2px black solid;

  }
  #chartdiv {
    /* margin-top: 90px; */
    height: 500px;
    /* flex-grow: 2; */
    /* margin-left: -230px; */
    margin-left: 80px;
    /* display: none; */

  }

  #headline {

   flex-grow: 2;
   width: 100%;
  justify-content: center;
  text-align: center;
  /* padding-bottom: 50px; */

  color: #e67d37;
  font-family: 'Trocchi', serif;

  -webkit-text-stroke: 2px black; /* width and color */
  -webkit-text-fill-color: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
  background-repeat: repeat-y;


  }

  #information img {
    width: 250px;
    height: 250px;
    position: relative;
    /* margin-left: 50px; */

  }


  #information img {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;


    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 13px;
    border: 3px solid rgb(70, 74, 107);
    box-shadow: 20px 20px 10px grey;

    /* margin-left: 50px; */


  }


}

@media only screen and (max-width: 767px) {



  h1 { font-size: 35px;
    }


  .column {

    justify-content: center;

    align-items: center;
  }




  #chartdiv {

    margin-top: 45px;
    height: 350px;

  }

  #county-text{
    /* margin-left: -10px; */
    padding-top: 20px;
    margin-left: 20px;
    width: 50%;
    /* flex-grow: -3; */
    text-align: center;
   align-items: center;
   padding: 10px;
   background-color: #ebc58e;
   border-radius: 25px;
   font-weight: 500;
   border:2px black solid;

  }

  #headline {

    color: #e67d37;
    font-family: 'Trocchi', serif;

    -webkit-text-stroke: 2px black; /* width and color */
    -webkit-text-fill-color: none;

    justify-content: center;
    text-align: center;

  }


  .flex-container .row  {

    flex-direction: column;
    flex-grow: 2;


  }


}